h1,h2,h3,h4,h5{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.contenido{
    width: 90%;
    max-width: max-content;
    display: grid;
    margin : 20px auto;
    
}
.contenido .sectionButtons{
    display: grid;
}

.contenido .sectionDark{
    padding: 6em;
    background-color: #000;
}

.contenido .nav{
    padding: 3em 5em;
    background-color: #ff0000;
}

.sectionText-title{
    background-color: #000;
    margin-inline: auto;
}

.section-lead{
    background-color: #4e5155;   
}
