.header_logo{
    display: flex;
    align-items: center;
    .logo_img{
        margin: 0.5em;
        width: 2.7em;
    }
    .logo_text{
        font-size: 2.7em;
        color: var(--phink);
        font-weight: var(--bold);
    }
}

.header_burger{
    display: inline-flex;
    align-items: center;
    svg{
        background-color: var(--phink);
        margin-inline: 0.5em;
        padding: 0.5em;
        border-radius: 0.3em;
        width: 2.9em;
    }
}

.icon_comunity svg{
    width: 2.9em;
    margin: 0.5em;
}

.footer_content_icon{
    margin: 0.5em;
    width: 2em;
}