$colorButtonDefault : #14acef;
$colorBoxShadow : #42bdf1;
$colorButtonLogin : #181c21f2;
$colorButtonConteiner_1 : #fff;
$colorButtonConteiner_2 : #181c21e6;

$colorNav : #eb0029;
$colorFontImportan: #eb0029;
$colorFontTitle: #4e5155;
$colorTextVinculo: #14acef;
$colorTextEspacial : #fff;

$backgroundColorBlue : #14acef;
$backgroundColorRed : #eb0029;
$backgroundColorBlack : #181c21e6;



