$colorButtonDefault : #f1595c;
$colorBoxShadow : #39B06E;
$colorButtonLogin : #181c21f2;
$colorButtonConteiner_1 : #fff;
$colorButtonConteiner_2 : #181c21e6;

$colorNav : #39B06E;
$colorFontImportan: #39B06E;
$colorBorderLogin: #10984C;
$colorFontTitle: #4e5155;
$colorBorberRegister: #434343;
$colorTextVinculo: #4E9EFF;
$colorTextEspacial : #fff;

$backgroundColorBlue : #4E9EFF;
$backgroundColorRed : #39B06E;
$backgroundColorBlack : #181c21e6;

$box-shadow-gray: #00000079