$colorButtonDefault : #39B06E;
$colorBoxShadow : #39B06E;
$colorButtonLogin : #181c21f2;
$colorButtonConteiner_1 : #fff;
$colorButtonConteiner_2 : #181c21e6;

$colorNav : #39B06E;
$colorFontImportan: #39B06E;
$colorBorderLogin: #39B06E;
$colorFontTitle: #4e5155;
$colorBorberRegister: #434343;
$colorTextVinculo: #3B82D8;
$colorTextEspacial : #fff;

$backgroundColorBlue : #3B82D8;
$backgroundColorRed : #3B82D8;
$backgroundColorBlack : #181c21e6;
