@import "./color.scss";
@import "./fonts.scss";

input:focus {
    outline: none;
}

.form-register-input{
    font-family: 'Montserrat', sans-serif;
    width: 23em;
    text-align: center;
    padding: 1em 0.2em;
    border: transparent;
    border-radius: 3em;
    margin-block: 1.3em 0.5em;
}