@import url('./fonts.scss');
@import url('./color.scss');

@mixin title-h1($family,$weight, $size){
    font-family: $family;
    font-weight: $weight;
    font-size: $size;
}

.s1{
    @include title-h1(
        'Montserrat',
        500,
        1.5em); 
}

.s2{
    @include title-h1(
        'Arial',
        600 ,
        2em);
}

.s3{
    @include title-h1(
        'Arial',
        800,
        4em);
}


a{
    text-decoration: none;
    color: #000 
}
