@import './fonts.scss';
@import './color.scss';

@mixin title-h1($family,$weight, $size){
    font-family: $family;
    font-weight: $weight;
    font-size: $size;
}

.s1,.s2,.s3{
    color: $colorTextEspacial;
}

.s1{
    @include title-h1(
        'Montserrat',
        500,
        1.5em); 
}

.s2{
    @include title-h1(
        'Arial',
        600 ,
        2em);
}

.s3{
    @include title-h1(
        'Arial',
        800,
        4em);
    padding-inline: 0.2em;
    background-color: $backgroundColorRed;
    width: min-content;
    height:0.53em;
    display: flex;
    flex-direction: column-reverse;
}

a{
    text-decoration: none;
    color: #000;
}

.nav{
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.nav .nav-header{
    margin-inline: 1.4em;
    color: $colorTextEspacial;
    font-size: 1.3em;
    padding-block-end: 1em;
    box-sizing: border-box;
}

.nav .nav-header:hover{
    padding-block-end: 1em - 0.14em;
    border-block-end: 0.14em solid $colorTextEspacial;
    transition: 0.2s 
}

.subTexto{
    .s4{
        display: flex;
        font-family: 'Montserrat', sans-serif;
        .normalize{
            color: $backgroundColorBlack;
        }
        .textImportan{
            color: $backgroundColorRed;
        }

        .normalize, .textImportan{
            margin-inline-end: 0.8em;
        }
    }
}

.titleVideo{
    font-family: 'Montserrat', sans-serif;
    color: $backgroundColorBlack;
}

.titleBlue{
    font-size: 3.4em;
    background-color: $backgroundColorBlue;
    font-family: 'Montserrat', sans-serif;
    width: max-content;
}

.numberEst{
    font-family: 'Montserrat', sans-serif;
    background-color: $backgroundColorRed;
    font-size: 3em;
    color: $colorTextEspacial;
    width: min-content;
    font-weight: 600;
}

.voluntario-information{
    font-family: 'Montserrat', sans-serif;
    color: $backgroundColorBlack;
    display: flex;
    .voluntario-name, .voluntario-ubication{
        font-weight: 600;
        margin-inline: 0.5em;
    }
}

.nomalText{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.voluntario-fecha{
    font-family: 'Montserrat', sans-serif;
    color: $colorFontTitle;
}

.s3-secctionLead{
    height: max-content;
    margin: 0;
}


.s3-blue{
    width: max-content;
    font-size: 1.5em;
    background-color: $backgroundColorBlue;
    color: $backgroundColorBlack;
}

.footer-links{
    display: grid;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    a{
        color: $colorTextEspacial;
    }
    .footer-redes__link{
        margin: 0.4em 1em;
    }
    .footer-redesSociales{
        .footer-redes__img i{
            transform: scale(1.4);
            margin: 1.2em 1em;
        }
        .footer-redes__img{
            display: flex;
            align-items: center;
        }
    }
}