.section_comunity{
    padding: 2.5em 1em;
    display: grid;
    justify-items: center;
    grid-gap: 1em;
    text-align: center;
    line-height:150%;
    .text-normal-section{
        width: 15em;
    }
}