@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap");
button {
  border: initial;
}

.btn {
  font-family: "Montserrat", sans-serif;
  padding: 1em 5em;
  background-color: transparent;
  border-radius: 0.45em;
  margin-block: 0.4em;
  box-shadow: 0em 0.4em 0.6em rgba(0, 0, 0, 0.4745098039);
}

.btnNormal {
  background-color: #fff;
  border: 0.1em solid #f1595c;
  color: #f1595c;
  box-shadow: 1px 1px 5px #39B06E;
  text-shadow: 0em 0.5em 0.5em rgba(0, 0, 0, 0.4745098039);
}

.btnNormal:hover {
  background-color: #f1595c;
  border: 0.1em solid #f1595c;
  color: #fff;
  transition: 0.2s all;
}

.btnLogin {
  background-color: rgba(24, 28, 33, 0.9490196078);
  border: 0.1em solid rgba(24, 28, 33, 0.9490196078);
  color: #fff;
  border: transparent;
}

.btnDark {
  background-color: rgba(24, 28, 33, 0.9490196078);
  border: 0.1em solid #fff;
  color: #fff;
}

.btnDark:hover {
  background-color: #fff;
  border: 0.1em solid #fff;
  color: rgba(24, 28, 33, 0.9019607843);
  transition: 0.2s all;
}

.btnColInformation {
  background-color: #fff;
  border: 0.1em solid rgba(24, 28, 33, 0.9019607843);
  color: rgba(24, 28, 33, 0.9019607843);
}

.btnColInformation:hover {
  background-color: rgba(24, 28, 33, 0.9490196078);
  border: 0.1em solid #fff;
  color: #fff;
  transition: 0.2s all;
}

.form-register a, .form-login a {
  font-weight: 500;
  font-family: "Montserrat", system-ui, -apple-system;
  color: #fff;
}

.form-register .form-register-btn {
  padding: 1em 3.5em;
  background-color: #4e5155;
  -webkit-border-after: 0.6em solid #434343;
          border-block-end: 0.6em solid #434343;
}

.form-login .form-login-btn {
  padding: 1em 3.5em;
  background-color: #39B06E;
  -webkit-border-after: 0.6em solid #10984C;
          border-block-end: 0.6em solid #10984C;
}

.slide-information_img {
  width: 25em;
}

.s1, .s2, .s3 {
  color: #fff;
}

.s1 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.5em;
}

.s2 {
  font-family: "Arial";
  font-weight: 600;
  font-size: 2em;
}

.s3 {
  font-family: "Arial";
  font-weight: 800;
  font-size: 4em;
  padding-inline: 0.2em;
  background-color: #39B06E;
  width: -moz-min-content;
  width: min-content;
  height: 0.53em;
  display: flex;
  flex-direction: column-reverse;
}

a {
  text-decoration: none;
  color: #000;
}

.nav {
  display: flex;
  font-family: "Montserrat", sans-serif;
}

.nav .nav-header {
  margin-inline: 1.4em;
  color: #fff;
  font-size: 1.3em;
  -webkit-padding-after: 1em;
          padding-block-end: 1em;
  box-sizing: border-box;
}

.nav .nav-header:hover {
  -webkit-padding-after: 0.86em;
          padding-block-end: 0.86em;
  -webkit-border-after: 0.14em solid #fff;
          border-block-end: 0.14em solid #fff;
  transition: 0.2s;
}

.subTexto .s4 {
  display: flex;
  font-family: "Montserrat", sans-serif;
}
.subTexto .s4 .normalize {
  color: rgba(24, 28, 33, 0.9019607843);
}
.subTexto .s4 .textImportan {
  color: #39B06E;
}
.subTexto .s4 .normalize, .subTexto .s4 .textImportan {
  -webkit-margin-end: 0.8em;
          margin-inline-end: 0.8em;
}

.titleVideo {
  font-family: "Montserrat", sans-serif;
  color: rgba(24, 28, 33, 0.9019607843);
}

.titleBlue {
  font-size: 3.4em;
  background-color: #4E9EFF;
  font-family: "Montserrat", sans-serif;
  width: -moz-max-content;
  width: max-content;
}

.numberEst {
  font-family: "Montserrat", sans-serif;
  background-color: #39B06E;
  font-size: 3em;
  color: #fff;
  width: -moz-min-content;
  width: min-content;
  font-weight: 600;
}

.voluntario-information {
  font-family: "Montserrat", sans-serif;
  color: rgba(24, 28, 33, 0.9019607843);
  display: flex;
}
.voluntario-information .voluntario-name, .voluntario-information .voluntario-ubication {
  font-weight: 600;
  margin-inline: 0.5em;
}

.nomalText {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.voluntario-fecha {
  font-family: "Montserrat", sans-serif;
  color: #4e5155;
}

.s3-secctionLead {
  height: -moz-max-content;
  height: max-content;
  margin: 0;
}

.s3-blue {
  width: -moz-max-content;
  width: max-content;
  font-size: 1.5em;
  background-color: #4E9EFF;
  color: rgba(24, 28, 33, 0.9019607843);
}

.footer-links {
  display: grid;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}
.footer-links a {
  color: #fff;
}
.footer-links .footer-redes__link {
  margin: 0.4em 1em;
}
.footer-links .footer-redesSociales .footer-redes__img i {
  transform: scale(1.4);
  margin: 1.2em 1em;
}
.footer-links .footer-redesSociales .footer-redes__img {
  display: flex;
  align-items: center;
}

.card {
  width: -moz-min-content;
  width: min-content;
  display: flex;
  flex-direction: column;
  padding: 0.4em 0.5em;
}
.card .textVideo .titleVideo {
  margin-block: 0.4em;
}
.card .nomalText {
  color: rgba(24, 28, 33, 0.9019607843);
  margin-block: 0.7em;
}/*# sourceMappingURL=card.css.map */