@import "../atomos/button.scss";
@import "../atomos/imagenes.scss";
@import "../atomos/text.scss";

.card{
    width: min-content;
    display: flex;
    flex-direction: column;
    padding: 0.4em 0.5em;
    .textVideo{
        .titleVideo{
            margin-block: 0.4em;
        }
    }
    .nomalText{
        color: $backgroundColorBlack;
        margin-block: 0.7em;
    }
}