.item-user{
    display: grid;
    grid-column-gap: 0.5em;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:"imagen information"
                        "imagen fecha";
    .item-user-img{
        grid-area: imagen;
        display: flex;
    }
    .voluntario-information{
        grid-area: information;
        .voluntario-name{
            margin-inline-start: 0em;
        }
    }
    .voluntario-fecha{
        grid-area: fecha;
    }
    justify-content: start;
    align-items: center;
}