@import "../atomos/text.scss";
@import "../atomos/logos.scss";

.nav{
    background-color: $colorNav;
    align-items : center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}